<section class="recipe-list sort-by-{{sortBy}} sort-direction-{{getSortDirection()}}">
    <h2>Recipe List</h2>

    <table>
        <thead>
            <tr>
                <th>
                    <button [class]="getSortCssClass('title')" (click)="reloadData('title')">Title</button>
                </th>
                <th>
                    <button [class]="getSortCssClass('description')" (click)="reloadData('description')">Description</button>
                </th>
                <th>Ingredients</th>                
                <th>Instructions</th>
                <th>Photo</th>
                <th>
                    <button [class]="getSortCssClass('creationDate')" (click)="reloadData('creationDate')">Creation date</button>
                </th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recipe of recipes | async">
                <td><a [routerLink]="['.', recipe.id]" routerLinkActive="active">{{recipe.title}}</a></td>
                <td>{{recipe.description}}</td>
                <td>
                    <span *ngFor="let recipeIngredient of recipe.recipesIngredients">
                        {{recipeIngredient.ingredient.name}}
                    </span>
                </td>                
                <td>{{recipe.instructions.truncate()}}</td>
                <td><img src="{{recipe.photoUrl}}" alt="{{recipe.title}}" /></td>
                <td>{{recipe.creationDate | date}}</td>
              </tr>
        </tbody>
    </table>
</section>
